<!DOCTYPE html>
<html>
    <head>
        <title>Personal Diary</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <style>
			div.diary{
				margin: 20px 50px 20px 50px;
				padding: 50px;
			}
		</style>
    </head>

    <body>
        <div class="diary">
            <h2 style="font-size:200%; font-family:Lucida Handwriting;">Personal Diary</h2>

             <div class="container" style="font-family:Noto Sans; color:#194A7A;">
                <div class="header" style="font-family:Noto Sans; color:#194A7A;">
                    <nav>
                        <h4 style="text-align:right"><b>Account : {{logininfo}}</b></h4> 
                    </nav>
                </div>
                <section>
                    {% for view in data %}
                    <fieldset>
                        <legend style="text-align:center; font-size:30px; color:#194A7A;"><b>{{view['Title']}}</b></legend>
                        <div class="card">
                            <div class="card-header">
                                <h3><b>My Memories # {{view['Num']}}</b></h3><br><br>
                            </div>

                            <div class="card-body" style="font-size:20px; color:black">
						        {{view['Content']}}
					        </div>
					        
                            <div class="card-footer" style="word-spacing:20px">
                                <br><br><br><br><a style="font-family:Noto Sans; color:#194A7A; font-size:17px;" href="/timeline/edit/{{view['Num']}}"><b>Edit</b></a>
						        <a style="font-family:Noto Sans; color:#194A7A; font-size:17px;" href="/timeline/delete/{{view['Num']}}"><b>Delete</b></a>
						        <a href="/timeline" class="card-link" style="font-size:17px; font-family:Noto Sans; color:#194A7A;"><b>Back</b></a>
					        </div>
                        </div>
                    </fieldset>
                    {% endfor %}
                </section>
            </div>
        </div>
    </body>
</html>